header
	.container.centered
		.mx-auto.text-center
			h1.mx-auto.my-3.text-uppercase Maxgold Real Estate
			h4.text-white-50.mx-auto.mt-2.mb-5
				| Find out with us your desirable Luxury apartments and offices for
				| rent or buy.
			a.btn.btn-primary.js-scroll-trigger(href="#about") Get Started
	.carousel.slide(data-ride="carousel" data-pause="false" data-interval="3500")
		.carousel-inner(role="listbox")
			.carousel-item.carousel-item-1.active
			.carousel-item.carousel-item-2
			.carousel-item.carousel-item-3
			.carousel-item.carousel-item-4
			.carousel-item.carousel-item-5
			.carousel-item.carousel-item-6
			.carousel-item.carousel-item-7
			.carousel-item.carousel-item-8
			.carousel-item.carousel-item-9
			.carousel-item.carousel-item-10
			.carousel-item.carousel-item-11
			.carousel-item.carousel-item-12
			.carousel-item.carousel-item-13
			.carousel-item.carousel-item-14
