section#about.about-section.text-center
	.container
		.row
			.col-lg-6.mx-auto
				img.img-fluid(src="img/about.jpg" alt="")
			.col-lg-6.mx-auto
				h2.text-white.mb-lg-4.mb-md-4.mb-sm-4.mt-4 MaxGold is the world's Leading Luxury Real Estate.
				p.text-white-50.mb-5
					| We have a global network offering exclusive apartments and luxury real estate services to our clients.
					br
					br
					|             Launched in November 2007, MaxGold is a company dedicated to those who wish to rent or buy a luxury
					|             apartment or office, along with those who are passionate about prestigious real estate and curious to
					|             discover new trends and interior solutions.
					br
					br
					|             At times real estate can be a part of our history, at times inspirations from new architectural concepts,
					|             or at other times simply amazing examples of how you can transform a space with the right interior design
					|             choices.
					br
					br
					|             The world is huge, with many languages, and each country has their own diverse culture. Nevertheless,
					|             scanning through our listings you will discover two corresponding elements: the importance of what we call
					|             luxury and the idea of beauty.
					br
					br
					|             Find a new luxury property for rent or purchase has never been an easy feat. But we made it simple for you.
				a.btn.btn-primary.js-scroll-trigger(href="#services") Look more
