section#services.services-section.bg-light
	.container
		.row.align-items-center.no-gutters.mb-4.mb-lg-5
			.col-xl-8.col-lg-7
				img.img-fluid.mb-3.mb-lg-0(src="img/city.jpg" alt="")
			.col-xl-4.col-lg-5
				.services-text.text-center.text-lg-left
					h4
						| Max Gold provides service to the clients in the most big cities around the world.
					p.text-black-50.mb-0
						| We explore every corner in search of the best. You can rely on top quality
						| services when you become our customers.
		.row.justify-content-center.no-gutters.mb-5.mb-lg-0
			.col-lg-6.align-self-end
				img.img-fluid(src="img/room.jpg" alt="")
			.col-lg-6
				.bg-black.text-center.h-100.services
					.d-flex.h-100
						.service-text.w-100.my-auto.text-center.text-lg-left
							h4.text-white Apartments
							p.mb-0.text-white-50
								| We have created a unique combination of luxurious, spacious, fully
								| furnished apartments with 24-hour service and a range of facilities such as spa, breakfast delivered
								| to the apartment, luxury transport services.
								br
								br
								|                   Bright, stylish and modern apartments are ideal for traveling couples, families with children, groups
								|                   of friends and members of the business world.
								br
								br
								|                   We offer a high standard apartments in the most desirable and beautiful places of your city.
								br
								br
								|                   MaxGold understands that the attitude of luxury is all about finding the best things for you.
								|                   And for us, it starts with a focus on making your time feel unforgettable.
							hr.d-none.d-lg-block.mb-0.ml-0
		.row.justify-content-center.no-gutters
			.col-lg-6
				img.img-fluid(src="img/office.jpg" alt="")
			.col-lg-6.order-lg-first
				.bg-black.text-center.h-100.services
					.d-flex.h-100
						.service-text.w-100.my-auto.text-center.text-lg-right
							h4.text-white Offices
							p.mb-0.text-white-50
								| MaxGold is pleased to present a luxurious offices.
								br
								br
								|                   These unique offices has been decorated to a very high standard in order to meet the requirements of
								|                   the most demanding tenants. The property is located in the building's office area with a separate,
								|                   representative reception and a designated place for the company's logo.
								br
								br
								|                   The MaxGold offices are one of the most luxurious and prestigious choice in the world. It also
								|                   include underground area with a fitness club, pool, squash court, and a parking level. Finally, allow
								|                   access to a spa and a wine cellar.
								br
								br
								|                   The locations are the heart of cities in the most popular areas.
							hr.d-none.d-lg-block.mb-0.mr-0
